@import "../colors/colors.css";

* {
    all: unset;

    font-size: 20px;
    color: @fg_main;
}

.window,
.alignment-box {
    background: none;
}

.box-wrapper {
    background-color: alpha(@bg_main, 0.65);
    border: 2px solid alpha(@border, 0.15);
    border-radius: 16px;
    box-shadow: 0px 8px 16px alpha(@shadow, 0.3);
}

.search-container {
    padding: 16px 24px;
}

.prompt-icon {
    color: alpha(@fg_main, 0.4);
    margin-right: 12px;
}

.input placeholder {
    color: alpha(@fg_main, 0.4);
}

.scroll,
.preview {
    border-top: 1px solid alpha(@border, 0.1);
    border-bottom: 1px solid alpha(@border, 0.1);
    padding: 8px;
}

.item-box {
    padding: 8px;
    padding-left: 12px;
    border-radius: 8px;

    transition: background-color 0.15s ease;
}

.item-text-box {
    margin-left: 8px;
}

.item-text {
    margin-right: 8px;
    font-size: 16px;
}

.item-subtext {
    margin-right: 8px;
    font-size: 16px;
    color: alpha(@fg_main, 0.4);
}

child:hover .item-box,
child:selected .item-box {
    background-color: alpha(@border, 0.2);
}

.item-quick-activation {
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
    background-color: alpha(@border, 0.2);
}

.preview-box {
    background-color: alpha(@border, 0.04);
    border: 1px solid alpha(@border, 0.15);
    margin-left: -8px;
    padding: 16px;
    border-radius: 8px;
}

.keybinds {
    padding: 0px 4px;
}

.keybind {
    border: 1px solid alpha(@border, 0.2);
    border-radius: 8px;
    margin: 8px 4px;
    padding: 4px 8px;
}

.keybind-label {
    font-size: 12px;
    margin-right: 5px;
}

.keybind-bind {
    font-size: 12px;
    color: alpha(@border, 0.5);
}